build-llfcchat*
Debug
x64
.vs
llfcchat.pro.user
node_modules
config.ini
config.json
/client/llfcchat/.qmake.stash
/client/llfcchat/bin/llfcchat.exe
/client/llfcchat/bin/llfcchat.ilk
/client/llfcchat/bin/llfcchat.pdb
/client/llfcchat/llfcchat.qtvscr
/client/llfcchat/llfcchat.sln
/client/llfcchat/llfcchat.vcxproj
/client/llfcchat/llfcchat.vcxproj.filters
/client/llfcchat/llfcchat.vcxproj.user
/client/llfcchat/llfcchat_resource.rc
/client/llfcchat/release/moc_predefs.h.cbt
/client/llfcchat/ui_adduseritem.h
/client/llfcchat/ui_applyfriend.h
/client/llfcchat/ui_chatdialog.h
/client/llfcchat/ui_chatuserwid.h
/client/llfcchat/ui_findsuccessdlg.h
/client/llfcchat/ui_friendlabel.h
/client/llfcchat/ui_loadingdlg.h
/client/llfcchat/ui_logindialog.h
/client/llfcchat/ui_mainwindow.h
/client/llfcchat/ui_registerdialog.h
/client/llfcchat/ui_resetdialog.h
ui_*.h
/开发文档